/*************************************/
/*
/*   Modules
/*    -> reusable & modular parts
/*
/*
/*************************************/

/********************/
/* Basic info
/********************/

.basic-info {
  @extend .title-with-subtitle;

  .title {
    margin: 0;
    font-size: 45px;
    letter-spacing: 1px;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
  }
}

.picture {
  border-radius: 50%;
}

/********************/
/* Category
/********************/

.category {

  .title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: lighter;
    color: #81D4E2;
  }
}

/********************/
/* Timeline
/********************/

.timeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 2px;
    margin-left: 3px;
    background: #D5D7DA;
    left: 25%;
  }

  li {
    position: relative;
  }

  h4 {
    display: inline;
    width: 150px;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
  }

  time {
    display: block;
    padding-right: 100px;
    position: absolute;
  }

  .label {
    top: -55px;
    margin: 0 0 15px 30%;
    padding: 1em;
    font-size: 1.2em;
    position: relative;

    h4 {
      margin-top: 0px;
      padding: 0 0 10px 0;
      display: inline;
    }
  }

  .icon {
    width: 12px;
    height: 12px;
    font-size: 9px;
    position: absolute;
    color: #B7336F;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #D5D7DA;
    text-align: center;
    left: 189px;
    top: 30px;
    margin: 0 0 0 -16px;

    &:before {
      font-size: 7px;
    }
  }
}

/********************/
/* Newtworks
/********************/

.networks {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 3px 0;

  li {
    float: left;
    padding: 5px;
  }

  i {
    color: #B7336F;
  }
}

/********************/
/* Projects
/********************/

.projects {

  .item {
    list-style: none;
  }

  .title {
    font-size: 18px;
    text-decoration: none;
    color: #B7336F;

    i {
      font-size: 12px;
    }
  }
}

/********************/
/* Skills
/********************/

.skills {
  @extend .clearfix;

  .skill {
    float: left;
    list-style: none;
    padding: 15px;
  }
}
