<!DOCTYPE html>
<html>
  <head>
    <title>Vita</title>
    <script src="/assets/application.js" type="text/javascript"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans' %>
    <%= stylesheet '/assets/application.css' %>
  </head>
  <body>
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
